.suggestion-container {
  margin: 2em;
  padding: 0.5em;
  min-width: 275;
}

.the-reason {
  background-color: lightblue;
  color: rgb(35, 63, 224);
  opacity: 0.8;
  padding: 0.5em;
}

.suggestion-form {
  padding: 1em;
  margin-top: 2em;
  background-color: lightblue;
}

.suggestion {
  padding: 1em;
  width:100%
}

.suggester-name,
.suggester-email {
  padding: 0.5em;
  width:80%
}

.suggestion-box-label {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}