.suggestion-container {
  margin: 2em;
  padding: 0.5em;
  min-width: 275;
}

.the-reason {
  background-color: rgb(112, 225, 129);
  color: rgb(12, 12, 2);
  opacity: 0.8;
  padding: 1em;
  font-weight: bolder;
  font-size: 1.25rem;
}

.suggestion-form {
  padding: 1em;
  margin-top: 2em;
  background-color: lightblue;
}

.suggestion {
  padding: 1em;
  width:100%
}
.suggester-name,
.suggester-email {
  padding: 0.5em;
  width:80%
}

.suggestion-box-label {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
