.grid-container {
  background-color: lightcyan;
  margin: 2em;
  padding: 0.5em;
  border: 2pt;
  border-style: solid;
  border-color: aquamarine;
  min-width: 275;
  box-shadow: 8px 8px 8px rgb(154, 214, 236);
}
.proposer {
  margin: 0.5em;
}

.suggestion { 
  padding: 0.5em;
  font-size: 2em;
}

.like-area{
  padding: 0.5em;
  text-align: center;
}

.like {
  font-size: 2em;
  color: rgb(239, 239, 245);
}
.num_votes {
  padding: 1em;
  text-align: center;
}

.likers {
    padding: 0.5em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(auto, auto);
  grid-template-areas: 
    "suggestion suggestion suggestion suggestion like-area" 
    "proposer proposer proposer . num_votes" 
    "likers likers likers likers likers";
}

.num_votes { grid-area: num_votes; }

.suggestion { grid-area: suggestion; }

.like { grid-area: like; }

.proposer { grid-area: proposer; }

.likers { grid-area: likers; }